%h3 Welcome
%p
  = link_to 'Users:', users_path
  = User.count
  registered so far, here are some latest tweets:

%hr

- unless @tweets.nil? #move this block to helper

  - @tweets.each do |tweet|
    %p
      =tweet.content
      %br
      posted at
      = time_ago_in_words(tweet.created_at) 
      ago by
      = link_to(tweet.user.name, tweet.user)
      / =tweet.user.name
- else
  %h3 There is no tweets.