%h3 Welcome
%p
  = link_to 'Users:', users_path
  = User.count
  registered so far, here are some latest tweets:

%hr

- unless @posts.empty? #move this block to helper
  - @posts.each do |post|
    = render post
- else
  %h3 There is no tweets.