- unless current_user.idols.empty? #move this block to helper?
  %h3 You are following:
  - current_user.idols.each do |idol|
    .panel
      = follow_button({user: idol, extra_class: 'btn-xs btn-info pull-left'})
      = link_to(idol.name, idol)

- else
  %h3 You are not following anybody.

%hr

- unless current_user.fans.empty? #move this block to helper
  %h3 You are followed by:
  - current_user.fans.each do |fan|
    .panel
      = follow_button({user: fan, extra_class: 'btn-xs btn-info pull-left'})
      = link_to(fan.name, fan)
      
- else
  %h3 You are not followed by anybody.
