%hr
- if user.posts.size > 0 #move this block to helper
  %h3 Lastest tweets by #{user.name}:
  - user.posts.reverse_order.each do |post|
    %p
      = post.content
      %br
      posted at
      = time_ago_in_words(post.created_at) 
      ago.
- else
  %h3 User #{user.name} does not have any tweets.